
[submodule "extern/ips2ra"]
	path = extern/ips2ra
	url = git@github.com:ips4o/ips2ra.git
[submodule "extern/tlx"]
	path = extern/tlx
	url = https://github.com/tlx/tlx.git
[submodule "extern/util"]
	path = extern/util
	url = git@github.com:ByteHamster/Util.git
